<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Jogoteca</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='inicio.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  </head>
  <body>
		<div id="content">

            <div class="box" id="nome">
                <br>
                <h1 class="titulo">Tema e Objetivo</h1>
                <br>
                <p class="nome b">O projeto consiste em um organizador de dados sobre futebol<br>Seu objetivo é armazenar dados sobre torcidas, times e jogos</p>
                <br><br>
                <h1 class="titulo">Desenvolvedores</h1>
                <br>
                <p class="nome b">Breno Augusto Sarraipo Murige (2840482011030)</p>
                <p class="nome b">Paola Paulina De Jesus Santa Capita (2840482011007)</p>
            </div>
		</div>
	</body>
</html>