<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Jogoteca</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='inicio.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  </head>
  <body>
		<div id="content">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul id="messages" class="list-unstyled">
                    {% for message in messages %}
                        <li class="alert alert-success">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <div class="box" id="nome">
                <h1 id="logo">O que deseja acessar?</h1>
            </div>

            <div class="box">
                <a href="" class="button"></a>
                <button class="btn btn-outline-info a" onclick="location.href='{{ url_for('times') }}'"  type="button">Times</button>

                <a href="" class="button"></a>
                <button class="btn btn-outline-info a" onclick="location.href='{{ url_for('jogos') }}'" type="button">Jogos</button>

                <a href="" class="button"></a>
                <button class="btn btn-outline-info a" onclick="location.href='{{ url_for('torcidas') }}'"  type="button">Torcidas</button>
            </div>

            <div class="box">
                <a href="" class="button"></a>
                <button class="btn btn-info pull-right" onclick="location.href='{{ url_for('devs') }}'"  type="button">Sobre</button>

                <a href="" class="button"></a>
                <button class="btn btn-info pull-left" onclick="location.href='{{ url_for('logout') }}'"  type="button">Logout</button>
            </div>
		</div>
	</body>
</html>